<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory Review</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <!-- Top Navigation Bar -->
    <nav class="navbar">
        <div class="navbar-logo">
            <img src="static/img/logo.png" alt="Memora Logo" class="logo">
            <span class="company-name">Memora</span>
        </div>
        <ul class="navbar-menu">
            <li><a href="#">About Us</a></li>
        </ul>
    </nav>

    <!-- Main Content Area -->
    <div class="main-content">
        <!-- Left Column: Illustration -->
        <div class="left-column">
            <div class="illustration">
                <img src="static/img/illustration.png" alt="Illustration of two people reviewing memories">
            </div>
        </div>

        <!-- Right Column: Title, Description, and Button -->
        <div class="right-column">
            <h1>Are you ready to <br> review your 
                <span class="highlight">
                    <img src="static/img/green_line.png" alt="Swirly Line" class="swirly-line">
                    memories?
                </span>
            </h1>
            <p></p>
            <p>Thanks to AI, reliving your memories has never been easier.</p>
            <form action="/upload" method="post" enctype="multipart/form-data" class="upload-container">
                <input type="file" name="file" class="upload-instructions">
                <input type="submit" value="Upload" class="upload-button">
            </form>
        </div>
    </div>
    <br>

    <section class="how-does-it-work-section">
        <div class="how-does-it-work-content">
            <h2>How Does It Work?</h2>
            <p>Follow these easy steps to get started.</p>
    
            <!-- Card Container -->
            <div class="card-container">
                <div class="how-does-it-work-card">
                    <h3>Step 1</h3>
                    <p>Go to WhatsApp Settings > Chats > Export Chat.</p>
                </div>
                <div class="how-does-it-work-card">
                    <h3>Step 2</h3>
                    <p>Upload the zip file. We'll decompress it.</p>
                </div>
                <div class="how-does-it-work-card">
                    <h3>Step 3</h3>
                    <p>Choose to create a timeline of significant memories or play games based on your messages.</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
