<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timeline</title>
    <link rel="stylesheet" href="static/css/timeline.css">

</head>
        
<body>
    <div class="timeline content-section">
        <div class="line"></div>

        {% for item in data %}
        <div class="year" data-year="{{ item.date }}" data-bottom-color="{{ item.color }}">
            <div class="content">
                <h2>{{ item.title }}</h2>
                {% if item.img %}
                <div class="image-frame">
                    <img src="{{ item.img }}" alt="">
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}

    </div>

    <script src="static/js/timeline.js"></script>
</body>
</html>
